{% extends 'base.html' %}

{% block title %}Medical History{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Medical History</h1>
    <div class="text-right mb-3">
        <a href="{% url 'addhistory' %}" class="btn btn-primary">Add History</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Doctor</th>
                    <th>Disease</th>
                    <th>Treatment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for history in historys %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ history.doctor.name }}</td>
                    <td>{{ history.disease }}</td>
                    <td>{{ history.plan.name }}</td>
                    <td>{{ history.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
