{% extends 'base.html' %}

{% block title %}Home - Patient Health Monitoring System of Buruli Ulcer Patients{% endblock %}

{% block content %}
<div class="container mt-5">
    <main class="text-center">
        <h1 class="text-center">Welcome to the Patient Health Monitoring System of Buruli Ulcer Patients</h1>
        <p class="text-center">Our Patient Health Monitoring System of Buruli Ulcer Patients is designed to streamline the operations of healthcare facilities. Here are some of the key features:</p>
        <ul class="list-group">
            <li class="list-group-item">Appointment Management: Easily book, view, and manage your appointments with doctors.</li>
            <li class="list-group-item">Patient Records: Securely store and access patient information and medical history.</li>
            <li class="list-group-item">Treatment Plans: Manage and track treatment plans tailored to each patient.</li>
            <li class="list-group-item">Feedback System: Patients can provide feedback to help improve the services.</li>
            <li class="list-group-item">Report Management: Upload, view, and download medical reports.</li>
            <li class="list-group-item">User Management: Manage users with different roles and permissions.</li>
        </ul>
        <a href="{% url 'signup' %}" class="btn btn-primary m-2">Sign Up</a>
        <a href="{% url 'login' %}" class="btn btn-secondary m-2">Log In</a>
    
        <!-- Admin Login button -->
        <a href="{% url 'admin:login' %}" class="btn btn-info m-2">Admin Login</a>
    </main>
    
   
</div>
{% endblock %}
