{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Patient Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Name:</strong></td>
                        <td>{{ patient.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone:</strong></td>
                        <td>{{ patient.phone }}</td>
                    </tr>
                    <tr>
                        <td><strong>Age:</strong></td>
                        <td>{{ patient.age }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title">Medical History</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Doctor</th>
                                <th>Diagnosis</th>
                                <th>Prescription</th>
                                <th>Spending</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for history in historys %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ history.doctor }}</td>
                                <td>{{ history.disease }}</td>
                                <td>{{ history.plan.description }}</td>
                                <td>{{ history.plan.spending }}</td>
                                <td>{{ history.date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title">Treatment Plans</h4>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Doctor</th>
                                <th>Description</th>
                                <th>Total Spend</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for treatment in plans %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ treatment.doctor }}</td>
                                <td>{{ treatment.description }}</td>
                                <td>{{ treatment.spending }}</td>
                                <td><a href="{% url "appointment" treatment.id %}" class="btn btn-sm btn-primary">Take</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
