{% extends 'base.html' %}

{% block title %}Treatment Plans{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">All Treatment Plans</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Antibiotics</th>
                </tr>
            </thead>
            <tbody>
                {% for treatment in treatments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ treatment.name }}</td>
                    <td>{{ treatment.description }}</td>
                    <td>{{ treatment.antibiotic_names }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
